<div id="editproductWrapper">
    <hr>
    <div class="">
        <div class="panel panel-success" id="panelLatestProducts">
            <div class="panel-heading">
                <h3 class="panel-title" style="text-align:center">Update Staff</h3>
            </div>
            <div class="panel-body">
                <!-- edit form column -->
                <div class="col-xs-12 personal-info">
                    <form class="well form-horizontal" role="form" novalidate angular-validator name="addUserForm" angular-validator-submit="UpdateUser()">
                        <fieldset>
                            <div class="form-group">
                                <label class="col-md-4 control-label">User Role</label>
                                <div class="col-md-4 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-star"></i></span>
                                        <select ng-model="user.RoleId" class="form-control black" ng-options="c.ID as c.Name for c in Roles"></select>
                                        <input type="hidden" name="RoleId" ng-value="user.RoleId" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">Name</label>
                                <div class="col-md-4 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input name="full_name" placeholder="Full Name" class="form-control" type="text" ng-model="user.UserName">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">Password</label>
                                <div class="col-md-4 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input name="password" placeholder="Password" class="form-control" type="password" ng-model="user.Password">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">Sex</label>
                                <div class="col-md-4 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-hand-right"></i></span>
                                        <input name="sex" placeholder="Sex" class="form-control" type="text" ng-model="user.Sex">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Mobile/Phone #</label>
                                <div class="col-md-4 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                                        <input name="phone" placeholder="Mobile/Phone" class="form-control" type="text" ng-model="user.Phone">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Address</label>
                                <div class="col-md-4 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                        <input name="address" placeholder="Address" class="form-control" type="text" ng-model="customer.Address">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">E-Mail</label>
                                <div class="col-md-4 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                        <input name="email" placeholder="E-Mail " class="form-control" type="text" ng-model="user.Email">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Registration Date</label>
                                <div class="col-md-4 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                        <input name="regdate" placeholder="Registration Date" class="form-control" ng-model="user.DateCreated"
                                               datepicker-popup="{{format}}"  is-open="datepicker.opened" datepicker-options="dateOptions" ng-required="true" datepicker-append-to-body="true" close-text="Close">
                                       
                                     </div>
                                </div>
                            </div>

                            <!--<div class="form-group">
                                <label class="col-md-4 control-label">Cancel</label>
                                <div class="col-md-4 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-hand-right"></i></span>
                                        <input name="cancel" placeholder="cancel" class="form-control" type="text" ng-model="user.Cancel">
                                    </div>
                                </div>
                            </div>-->

                            <div class="form-group">
                                <label class="col-md-4 control-label">Remarks</label>
                                <div class="col-md-4 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                        <textarea class="form-control" name="comment" placeholder="Remarks" ng-model="user.Remarks"></textarea>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="form-group col-sm-7">
                                <label class="control-label"></label>
                                <div class="pull-right">
                                    <input type="submit" ng-disabled="addProductForm.$invalid" class="btn btn-success" value="Add User" />
                                    <span></span>
                                    <a class="btn btn-info" ng-href="#/users">Cancel</a>
                                   
                                </div>
                            </div>
                        </fieldset>

                    </form>

                </div>

            </div>
        </div>

        <hr>
    </div>
    </div>
