<div id="sidebar" class="sidebar-offcanvas">
    <div class="">
        <h3></h3>
        <ul class="nav nav-tabs nav-stacked ">
            <li class="nav-divider"></li>
            <li ><a ng-href="#/" ><i class="fa fa-home"></i></a></li>
            <li class="nav-divider"></li>
            <li><a ng-href="#/products/" ><i class="fa fa-pinterest"></i></a></li>
            <li class="nav-divider"></li>
            <li><a ng-href="#/purchases"><i class="fa fa-pinterest-p fa-plus-circle"></i></a></li>
            <li class="nav-divider"></li>
            <li><a ng-href="#/sales"><i class="fa fa-send"></i></a></li>
            <li class="nav-divider"></li>
            <li><a ng-href="#/purchases/purchasePayment"><i class="fa fa-plus"></i></a></li>
            <li class="nav-divider"></li>
        </ul>
    </div>
</div>

